* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  a {
    text-decoration: none;
  }
  
  @font-face {
      font-family: "CCMeanwhile";
      src: url(CCMeanwhile-Regular_1.ttf);
  }

  @font-face {
      font-family: "scriptina";
      src: url(SCRIPTIN.ttf)
  }

  @font-face {
      font-family: "exo";
      src: url(Exo2-Regular.otf)      
  }

  
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

.pos-f-t {
  position: fixed !important;
  z-index: 10;
  width: 100%;
}

.navbar {
  background:#272727;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
}

.nav-link,
.navbar-brand {
    color: #fff !important;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: rgb(255, 164, 28) !important;
}

.active-nav {
  color:rgb(255, 164, 28) !important;
}

.active-nav:hover {
  color:rgb(255, 164, 28) !important;
  cursor: default;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center !important;
}

.navbar-toggler {
    position: fixed !important;
    right: 1% !important;
    top: 9px;
}

.navbar-collapse {
    justify-content: flex-end;
}

  .navbar-toggler-icon {
    filter: brightness(0.5);
  }

  .navbar-toggler-icon:hover {
    filter: brightness(1) !important;
  }

.bg-dropmenu {
  background-color: rgba(49, 49, 49, 0.9);
  color: #fff;
}
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  

  header {
    background-image: url('socmed.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 10px 25px black;
  }
  
  header .description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
  }

  .logo {
    width: 100px;
    height: 50px;
    margin-top: -2px;
    text-align: center;
    margin-left: 20px;
    filter: invert();
    opacity: 0.7;

    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
  }
  
  .logo:hover {
    opacity: 1;
    text-shadow: 0 6px 6px rgba(255, 255, 255, 0.9);
  }

  .logo-center {
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
  
    
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .top-wrapper {
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }

  .top-wrapper h1 {
    width: 100%;
    opacity: 0.8;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: "Bad Script", Arial;
    font-weight: bold;
    text-shadow: 3px 3px 3px black
  }
  
  .top-wrapper p {
    opacity: 0.8;
    margin-bottom: 3px;
    text-shadow: 2px 2px 3px black;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  /* .btn-wrapper p {
    margin: 10px 0;
  } */

  .title-bottom {
      padding-bottom: 50px;
      font-family: "exo", Helvetica, sans-serif;
      font-weight: bold;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  .introduce {
      border-top: 2px dashed black;
      border-bottom: 2px dashed black;
      margin: 15px 0px;
  }

  .introduce-image {
      border-radius: 50%;
      border: 2px solid rgba(4, 37, 129, 0.308);
      width: 200px;
      padding: 5px;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 30px;
  }

  .name-int {
      width: 100%;
      text-align: center;
      font-family: 'Merienda';
  }

  .undername-int {
      width: 100%;
      text-align: center;
      color: grey;
      font-weight: 400;
      font-family: 'Titillium Web';
      margin-top: -20px;
  }
  
  .paragraph-int {
      font-family: 'Titillium Web';
      text-align: center;
      width: 100%;
  }

  .introduce h1{
    width: fit-content;
    padding-top: 30px;
    font-family: "Merienda";
    text-align: center;
    border-bottom: 2px dotted black;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .socmed-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading-socmed {
    padding-top: 50px;
    padding-bottom: 80px;
    color: #5f5d60;
  }
  
  .heading-socmed h2 {
    font-weight: normal;
  }
  
  .socmed {
    float: left;
    width: 25%;
  }
  
  .fab {
      position: absolute;
      margin: 0 auto;
      color: white;
      text-align: center;
  }

  .circle {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #111;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0.75;
    transition: all .5s ease-in-out;
  }

  .socmed-icon {
    position: relative;
    display: inline-block;
  }
  
  .socmed-icon p {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: #b3aeb5;
    font-family: 'Kalam', sans-serif;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .mid-quotes {
      position: absolute;
      background-color: white; 
      border: 2px dashed gray;
      border-radius: 50%;
      height: 130px;  
      width: 130px;
      margin: 0 auto;
      text-align: center;
      padding-top: 50px;
      margin-top: 10px;
      margin-left: 10px;
      font-family: 'Nanum Pen Script';
      font-size: 24px;

      
  }

  .message-wrapper {
    background-image: url(bro-bro-beach.jpg);
    background-size: cover;
    border-bottom: 1px solid #eee;    
    background-attachment: fixed;
    background-position: center center;
  }
  
  .under-msg-wrap {
      text-align: center;
      padding-bottom: 100px;
  }

  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control .features input {
	border-radius: 0;
}

.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

  footer img {
    width: 125px;
    filter: invert();
  }
  
  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 10px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 20px 20px;
  }


  .steam-btn :hover , .li-btn :hover , .dsc-btn :hover , .line-btn :hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .fb-btn :hover , .twt-btn :hover , .ig-btn :hover , .tg-btn :hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .fab:hover {
    transform: scale(1);
  }

  .scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  .flex-footer {
    position: relative;
  }

  .html-counter {
    bottom: 0%;
    display: inline-block;
    position: absolute;
    left: 0%;
    filter: drop-shadow(1px 2px 5px black) opacity(0.7);
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  #display {
    font-size: 1.1em;
    top: 10px;
    padding-bottom: 20px;
    opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  }
  
  #date {
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  .details .year {
    padding-left: 10px;
    text-align: right;
  }

  #content-quotes {
    height: fit-content;
  }

  #content-quotes p {
    max-width: 100%;
    color: #666;
    padding-top: 20px;
    font-family: var(--bs-font-sans-serif);
    text-align: center;
    margin: 0px auto;
    line-height: 145%;
    font-size: 1em;
  }